.page-home {
  color: #fff;
  h1 {
    font-size: 60px;
  }
}
.so-link {
  li {
    display: inline-block;
    $size: 70px;
    width: $size;
    height: $size;
    border: 1px solid #fff;
    margin-right: 20px;
    transition: all linear 200ms;
    transform-origin: center;
    .logo {
      width: 36px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      background: rgba($color: #fff, $alpha: 0.3);
      transform: scale(1.1);
    }
  }
}
.fill {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.bg-move {
  background: #348cb2 url(~@/assets/bg.jpg) bottom left;
  background-repeat: repeat-x;
  animation: bg_move 50s linear infinite;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.bg-move {
  background-size: 300px auto;
  width: 3000px;
}
@keyframes bg_move {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1550px, 0, 0);
  }
}
@media screen and (min-width: 1080px) {
  .bg-move {
    background-size: 750px auto;
  }
}
.bg-overlay {
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed, fixed;
  background-image: url("~@/assets/overlay-pattern.png"),
    url("~@/assets/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}